html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #2b2d42;
}

.header,
.footer {
  font-family: "Inconsolata", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1faee;
}

.buttons {
  display: flex;
  margin: 0 200px;
  gap: 20px;
  justify-content: center;
}

.btn {
  height: 200px;
  width: 200px;
  font-size: 1em;
  border-radius: 1em;
}

.footer {
  font-weight: 200;
}
